div.container {
    width:100% !important;
}

p.header {
    font-family: "Times New Roman", Times, serif;
    margin: 0 !important;
}

td.special {
    border: 2px double black;
}

td {
    min-height: 75%;
    height: 100%;
}

table.portfolio{
    border-collapse: collapse;
    border: 1px solid black;
}
